@import '../button/';
@import '../spacer/';

@custom-media --work-item-small-breakpoint-1024 (width >= 64em);

[data-component='work-item'] {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  &:not(:first-child):not(:last-child) {
    margin-bottom: 2.5em;
  }
  & .example {
    position: relative;
    border-top: 1.5em solid #777;
    border-bottom: .5em solid #777;
    border-radius: .25em;
    box-shadow: .125em .125em .5em rgba(0, 0, 0, .5);
    margin-bottom: 1em;
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      height: .5em;
      width: .5em;
      top: -1em;
      left: .5em;
      box-shadow: 1em 0 #555, 2em 0 #555;
      border-radius: 50%;
      background-color: #555;
    }
    & img {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }
  & p {
    font-family: 'Open Sans', serif;
    line-height: 1.3;
    font-size: 1em;
  }
  & h3 {
    font-family: Sumana, serif;
    font-size: 1.5em;
    margin: 0 0 1em;
    color: white;
  }
  & h4 {
    font-size: 1em;
    margin: 0 0 1em;
    color: #ccc;
  }
  & .tag-list {
    margin: 0;
    padding: 0;
    list-style: none;
    & > li {
      display: inline-block;
      vertical-align: top;
    }
  }
  & .tag {
    font-size: .75em;
    background-color: #71535c;
    color: #ccc;
    border-radius: .125em;
    padding: .5em 1em;
    box-shadow: .125em .125em .125em rgba(0, 0, 0, .5);
    &:not(:last-child) {
      margin-right: .25em;
      margin-bottom: .5em;
    }
  }
}
