[data-component='button'] {
  display: block;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 1.25em 3em;
  border-radius: .25em;
  background: #b25538;
  color: white;
  transition: background-color .3s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  overflow: visible;
  &:hover,
  &:focus {
    background-color: #71535c;
  }
}
