include ../links/index
include ../button/index
include ../spacer/index

mixin home(props)
  section(data-component='home')
    .inner-bg
      .layer.bg-1(style!=`background-image: url(${props.bg[0].url})`)
      .layer.bg-2(style!=`background-image: url(${props.bg[1].url})`)
    .wrapper
      .logo
        .front-logo
          svg
            use(xlink:href=props.logo.url)
        .back-logo
          svg
            use(xlink:href=props.logo.url)
      .content
        h1!=props.title
        +spacer()
        each t in props.text
          p!=t
      //- .view-work
      //-   +button(props.workLink)
      +links(props.links)
