@import '../links/';
@import '../button/';

@custom-media --home-small-breakpoint-1(width >= 64em);

@keyframes homeRotateIt {
  from {
    transform: rotateY(720deg) rotateZ(360deg) scale(0);
  }
}

@keyframes homeFadeIn {
  from {
    opacity: 0;
  }
}

@keyframes homeSatellite {
  from {
    transform: rotate(-360deg) translate(300%) rotate(-360deg);
  }
}

@keyframes homeScaleIn {
  from {
    transform: scale(0);
  }
}

@keyframes homeDownIn {
  from {
    transform: translateY(-5%);
  }
}

[data-component='home'] {
  background-color: #222;
  position: relative;
  /*font-size: .75em;
  @media (--home-small-breakpoint-1) {
    font-size: 1em;
  }*/
  & .inner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 1;
    & .layer {
      transition: opacity .3s ease;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &.bg-1 {
        filter: blur(.25em) grayscale(100%);
      }
      &.bg-2 {
        opacity: 1;
        animation: homeFadeIn 1s ease 1;
        animation-delay: 1s;
        animation-fill-mode: both;
        &:before {
          display: block;
          content: ' ';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url('/content/images/noise.png');
        }
      }
    }
  }
  & .wrapper {
    display: flex;
    padding: 0 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 3;
    & > div {
      display: flex;
    }
  }
  & h1 {
    font-family: Sumana, serif;
    color: white;
    font-size: 2.26em;
    line-height: 1.1em;
    margin: 0 0 1em;
    text-align: center;
    max-width: 24em;
  }
  & .content {
    margin-bottom: 1.2em;
    flex-direction: column;
    justify-content: center;
    animation-duration: 1s;
    animation-name: homeFadeIn, homeDownIn;
    animation-iteration-count: 1;
    animation-delay: .8s;
    animation-fill-mode: backwards;
    & > p {
      margin: 0 0 1em;
      text-align: center;
    }
  }
  & .view-work {
    margin-bottom: 2em;
    animation-fill-mode: backwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: homeFadeIn, homeDownIn;
    animation-delay: 2s;
  }
  & .logo {
    position: relative;
    height: 10em;
    padding-top: 1em;
    box-sizing: border-box;
    width: 18.75em;
    perspective-origin: 150% 150%;
    perspective: 100em;
    transform-style: preserve-3d;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: homeRotateIt, homeFadeIn;
    margin-bottom: 1.5em;
    & .front-logo {
      text-align: center;
      transform: translateZ(-1px) perspective(0);
    }
    & .back-logo {
      transform: translateZ(0) perspective(0);
    }
    & > div {
      position: absolute;
    }
  }
}
