@import '../home/';
@import '../contact/';
@import '../work/';
@import '../navigation/';

.app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  color: white;
  background-color: black;
}

::selection {
  background-color: color(orange alpha(50%));
  opacity: 0;
}
