mixin navigation(props)
  aside(data-component='navigation')
    button.navigation-toggle
      svg.open-icon
        use(xlink:href=props.button.icon[0].url)
      svg.close-icon
        use(xlink:href=props.button.icon[1].url)
    .wrapper
      ul
        each link in props.links
          li
            a(href=link.url, class=link.id)
              span.icon
                svg
                  use(xlink:href=link.iconUrl)
              span.txt!=link.text
