@import '../label/';

[data-component='textarea-field'] {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  flex-direction: column;
  & * {
    box-sizing: border-box;
  }
  & textarea {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid #222;
    border-radius: .25em;
    padding: 1em;
    background: transparent;
    color: white;
    transition: border-color .3s ease;
    &:focus {
      outline: 0;
      border-color: #507282;
    }
    &:invalid {
      outline: 0;
      box-shadow: none;
    }
  }
}
