@import '../button/';
@import '../input-field/';
@import '../textarea-field/';
@import '../warning-box/';
@import '../spacer/';

@custom-media --home-small-breakpoint-1024 (width >= 64em);

[data-component='contact'] {
  box-sizing: border-box;
  background-color: #222;
  font-size: .75em;
  padding: 2em 0;
  @media (--home-small-breakpoint-1024) {
    font-size: 1em;
  }
  & * {
    box-sizing: border-box;
  }
  & .wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 75%;
    align-items: center;
    min-height: 100vh;
    @media (--home-small-breakpoint-1024) {
      max-width: 50%;
    }
  }
  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  & .submit {
    display: flex;
    margin-left: auto;
  }
  & h2 {
    font-family: Sumana, serif;
    color: white;
    font-size: 2.26em;
    line-height: 1.1em;
    margin: 0;
    text-align: center;
    max-width: 24em;
  }
}
