include ../button/index
include ../input-field/index
include ../textarea-field/index
include ../warning-box/index
include ../spacer/index

mixin contact(props)
  section#contact(data-component='contact')
    .wrapper
      h2!=props.title
      +spacer()
      figure.flash.hidden
      form(method='post', action='/contact', name='contact')
        each field in props.fields
          case field.attributes.type
            when 'email'
            when 'text'
              +inputField(field)
            when 'textarea'
              +textareaField(field)
            when 'submit'
              .submit
                +button(field)
